<footer class="bg-light footer">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted" style="margin: 0 auto">Copyright © <%= Time.current.year %> Dawa asaan Ltd. All Rights Reserved.</div>
    </div>
  </div>
</footer>
